.main-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    height: 10vh;
}


.container-nav-Type{
    width: 15%;
}


.main-header nav>ul{ 
    display: flex;
    justify-content: space-between;

}

.container-nav-Icons{
    width: 10%;
    
}