.formSummary-payMethod {
    width: 90%;
    height: 80%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.formSummary-payMethod h1 {
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-size: 140%;
}

.container-formSummarPay {

    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
}

.add-account{
display: flex;
justify-content: space-between;
}

.select-account{
    display: flex;
    justify-content: space-between;
    }