@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.container-formL{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-email{
    margin-bottom: 5%;
}

.input-password{
    margin-bottom: 2%;
}

.forget-password{
    font-size: .8rem;
    margin-left: 5%;
    margin-bottom: 5%;
}

.button-login{
    width: 90%;
    margin-left: 5%;
}

p{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.button-google{
    width: 90%;
    margin-left: 5%;
    background-color: white;
    color: black;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}