.container-formR{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-emailR{
    margin-bottom: 5%;
}

.input-passwordR{
    margin-bottom: 2%;
}

.forget-passwordR{
    font-size: .8rem;
    margin-left: 5%;
    margin-bottom: 5%;
}

.button-register-R{
    width: 90%;
    margin-left: 5%;
}

p{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.button-google-R {
    width: 90%;
    margin-left: 5%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    flex-direction: row-reverse;
}

.button-register-R {
    width: 90%;
    margin-left: 5%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    border-radius: 5px;
    font-size: 1rem;
}
